@model CourseWork.Models.Book

@{
    ViewData["Title"] = "Изменение";
}

<h1>Редактирование</h1>

<h4>Книга</h4>
<hr />
<div>
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="row">
            <div class="col">
                <div class="form-floating mb-3">
                    <input asp-for="Name" class="form-control" id="floatingInputGrid"/>
                    <label asp-for="Name" for="floatingInputGrid"></label>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="col">
                <div class="form-floating mb-3">
                    <select asp-for="AuthorId" class="form-select" asp-items="ViewBag.Author" id="floatingSelectGrid"></select>
                    <label asp-for="AuthorId" for="floatingSelectGrid"></label>
                    <span asp-validation-for="AuthorId" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-floating mb-3">
            <textarea placeholder="Description" asp-for="Description" id="floatingTextarea" class="form-control" style="height: 100px;"></textarea>
            <label asp-for="Description" for="floatingTextarea"></label>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-floating mb-3">
                    <input asp-for="ImageSource" class="form-control" id="floatingInputGrid"/>
                    <label asp-for="ImageSource" for="floatingInputGrid"></label>
                    <span asp-validation-for="ImageSource" class="text-danger"></span>
                </div>
            </div>
            <div class="col">
                <div class="form-floating mb-3">
                    <select asp-for="PublisherId" class="form-select" asp-items="ViewBag.Publisher" id="floatingSelectGrid"></select>
                    <label asp-for="PublisherId" for="floatingSelectGrid"></label>
                    <span asp-validation-for="PublisherId" class="text-danger"></span>
                </div>
            </div>
            <div class="col">
                <div class="form-floating mb-3">
                    <input min="0" max="1000" asp-for="Quantity" class="form-control" id="floatingInputGrid"/>
                    <label asp-for="Quantity" for="floatingInputGrid"></label>
                    <span asp-validation-for="Quantity" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-floating mb-3">
                    <select asp-for="FormId" class="form-select" asp-items="ViewBag.Form" id="floatingSelectGrid"></select>
                    <label asp-for="FormId" for="floatingSelectGrid"></label>
                    <span asp-validation-for="FormId" class="text-danger"></span>
                </div>
            </div>
            <div class="col">
                <div class="form-floating mb-3">
                    <select asp-for="GenreId" id="floatingSelectGrid" class="form-select" asp-items="ViewBag.Genre"></select>
                    <label asp-for="GenreId" for="floatingSelectGrid"></label>
                    <span asp-validation-for="GenreId" class="text-danger"></span>
                </div>
            </div>
            <div class="col">
                <div class="form-floating mb-3">
                    <select asp-for="StyleId" id="floatingSelectGrid" class="form-select" asp-items="ViewBag.Style"></select>
                    <label asp-for="StyleId" for="floatingSelectGrid"></label>
                    <span asp-validation-for="StyleId" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-floating mb-3">
            <input type="submit" value="Сохранить" class="btn btn-success me-2" />
            <a class="btn btn-primary" asp-action="Index">Назад к списку</a>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
