@{
    ViewData["Title"] = "Доступ запрещен";
}

<div class="justify-content-center container">
    <div class="alert alert-danger" role="alert">
        Что?! Ты даже не состоишь в ополчении! Ты даже не ГРАЖДАНИН! И ты надеешься получить ДОСТУП?! До сих пор только
        те из ополчения, кто выполнял чрезвычайные задания, получили эту честь. Если ты хочешь быть библиотекарем, то
        перед тобой еще долгий путь, мой друг.
    </div>
</div>
