@model CourseWork.Models.Quote

@{
    ViewData["Title"] = "Добавление";
}

<h1>Добавить</h1>

<h4>Цитата</h4>
<hr />
<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-floating mb-3">
        <select asp-for="BookId" class="form-select" id="floatingSelect" asp-items="ViewBag.BookId"></select>
        <label asp-for="BookId" for="floatingSelect"></label>
        <span asp-validation-for="BookId" class="text-danger"></span>
    </div>
    <div class="form-floating mb-3">
        <textarea asp-for="Text" class="form-control" id="floatingTextarea" placeholder="asdf" style="height: 100px;"></textarea>
        <label asp-for="Text" for="floatingTextarea"></label>
        <span asp-validation-for="Text" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Добавить" class="btn btn-success me-2" />
        <a asp-controller="Books" asp-action="Index" class="btn btn-primary">К книгам</a>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
