@model CourseWork.Models.Author

@{
    ViewData["Title"] = "Добавление";
}
<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-floating mb-3">
        <input asp-for="Name" type="text" class="form-control" id="floatingInput" placeholder="Name"/>
        <label asp-for="Name" for="floatingInput"></label>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-floating mb-3">
        <textarea placeholder="Biography" asp-for="Biography" class="form-control" id="floatingTextarea" style="height: 100px;"></textarea>
        <label asp-for="Biography" for="floatingTextarea"></label>
        <span asp-validation-for="Biography" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <input type="submit" value="Создать" class="btn btn-success" />
        <a class="btn btn-primary" asp-action="Index">К списку</a>
    </div>
</form>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
