@model CourseWork.Models.Author

@{
    ViewData["Title"] = "Удаление";
}
<h3>Вы точно хотите удалить данную запись?</h3>
<div>
    <hr />
    <h1>@Model.Name</h1>
    <p class="mb-3">@Model.Biography</p>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a class="btn btn-primary" asp-action="Index">К списку</a>
    </form>
</div>