@model CourseWork.Models.Publisher

@{
    ViewData["Title"] = "Добавление";
}

<h1>Добавить</h1>

<h4>Издательство</h4>
<hr />
<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-floating mb-3">
        <input asp-for="Name" class="form-control" id="floatingInput" placeholder="asdf"/>
        <label asp-for="Name" for="floatingInput"></label>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-floating mb-3">
        <input asp-for="Description" class="form-control" id="floatingTextarea" placeholder="asdf" style="height: 100px;"/>
        <label asp-for="Description" for="floatingTextarea"></label>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-floating mb-3">
        <input asp-for="Address" class="form-control" id="floatingInput" placeholder="asdf"/>
        <label asp-for="Address" for="floatingInput"></label>
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Добавить" class="btn btn-success me-2" />
        <a asp-action="Index" class="btn btn-primary">К списку</a>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
