@model CourseWork.Models.Publisher

@{
    ViewData["Title"] = "Удаление";
}

<h1>Удалить</h1>

<h3>Вы точно хотите удалить эту запись?</h3>
<div>
    <h4>Издательство</h4>
    <hr />
    <h1>@Model.Name</h1>
    <h4>@Model.Address</h4>
    <p class="mb-3">@Model.Description</p>


    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-danger me-2" />
        <a asp-action="Index" class="btn btn-primary">К списку</a>
    </form>
</div>
