@model CourseWork.Models.Publisher

@{
    ViewData["Title"] = "Редактирование";
}

<h1>Редактировать</h1>

<h4>Издательство</h4>
<hr />
<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
    <div class="form-floating mb-3">
        <input asp-for="Name" class="form-control" id="floatingInput" placeholder="asf"/>
        <label asp-for="Name" class="control-label" for="floatingInput"></label>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-floating mb-3">
        <textarea asp-for="Description" class="form-control" id="floatingTextarea" placeholder="asdf" style="height: 100px;"></textarea>
        <label asp-for="Description" class="control-label" for="floatingTextarea"></label>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-floating mb-3">
        <input asp-for="Address" class="form-control" id="floatingInput" placeholder="asdf"/>
        <label asp-for="Address" class="control-label" for="floatingInput"></label>
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Сохранить" class="btn btn-success me-2" />
        <a asp-action="Index" class="btn btn-primary">К списку</a>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
